@import url(palette.css);
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #1B145E, #8783D1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form container */
.form-container {
  background: white;
  padding: 2.5rem 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-container h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1.2rem;
  text-align: left;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

input[type="password"] {
  margin-bottom: 20px;
}

input:focus {
  outline: none;
  border-color: #2e86de;
}

/* Button */
.btns button{
  width: 100%;
  height: 10%;
  padding: 0.7rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 15px;
}

.submit-btn {
  background-color: #2e86de;
  color: white;
    border: none;
}

.google-btn {
  background-color: #f1f1ff;
  color: #222;
  border: solid;
  border-color: #2e86de;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
}

.btns img {
  float: left;
  vertical-align: middle;
  width: 7%; 
  height: 7%;
  margin:auto;
  padding-right: 1%;
}

.submit-btn:hover {
  background-color: #1b5fb0;
}

/* Link */
.signup-link {
  margin-top: 1rem;
  font-size: .9rem;
  text-align: center;
}

.signup-link a {
  color: #2e86de;
  text-decoration: none;
}