* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #000000;
  background-color:#1B145E;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Layout Containers */
.container {
  width: 1%;
  max-width: 1100px;
  margin: auto;
}

/* Navigation */
header {
  background: #1B145E;
  color: white;
  padding: 1rem 0;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a:hover {
  text-decoration: underline;
}

/* Founders */

.founders {
    margin: 2rem;
    padding: 2rem;
    background-color: #F5F5FF;
    border-radius: 10px;
    
}
.grid-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    min-width: 200px;
}
.founders h1 {
    text-align: center;
    padding-bottom: 2rem;
}
.founder-card {
    background-color: #E4E3F8;
    flex: 1;
    border-radius: 20px;
    text-align: center;
    border: solid;
    border-color: #120F45;
    max-width: 600px;
}

.founder-card img {
    max-width: 500px;
    border-radius: 50px;
}
@media (max-width: 768px) {
  .grid-con {
    grid-template-columns: 1fr;
    row-gap: 20px; /* optional spacing between stacked items */
  }
}